<!DOCTYPE html>
<html>

<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% load staticfiles %}

    <!-- <script type="text/javascript" charset="utf-8">var json_loca = {% static "TTM/JSON/routes.json/" %}</script> -->
    {% block javascript %}
    <script src = {% static 'TTM/js/script.js' %}></script>

        <!-- jQuery -->
    <script src="{% static 'TTM/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'TTM/js/bootstrap.min.js' %}"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="{% static 'TTM/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'TTM/js/scrolling-nav.js' %}"></script>
    {% endblock %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'TTM/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Custom CSS -->
    <link href="{% static 'TTM/css/scrolling-nav.css' %}" rel="stylesheet">

    <!--    Map page css -->
    <link rel="stylesheet" type="text/css" href="{% static 'TTM/css/bus.css' %}">



    <title>The Touring Machines</title>
    </head>
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <script>
    $(window).on( 'load', function() {
      myMap();
      });</script>


    <header id="header">The Touring Machines<br></header>
        <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">The Touring Machines</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About us</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Plan</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


        <div id="map" style="width:600px;height:400px;"></div>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANEk4AGMlzwR3tsgCUsoa7UptHABc84Lk&callback=myMap"></script>


    <div>{% block content %}{% endblock %}</div>
<div><p id ="counter"></p></div>
<div><p id ="nameofroute"></p></div>
<div><p id ="stops"></p></div>
         <!-- About Section -->
    <section id="about" class="about-section">
            <div class="row">
                <div class="col-lg-12">
                    <img id="us" class="img-responsive center-block" src="{% static 'TTM/images/touring.png' %}" />
                    <br><h5>We're a group of people stuck in college during the summer. It's warm and we want to sleep and maybe drink cans.</h5>
                </div>
            </div>
    </section>

    <!-- Services Section -->
    <section id="services" class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Services Section</h1>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Contact Section</h1>
                </div>
            </div>
        </div>
    </section>



        <footer >Icons made by Freepik from www.flaticon.com</footer>
</body>

</html>
