#image404 {
    height: 560px;
    padding-top: 1px;
    background: black url("http://i0.kym-cdn.com/photos/images/original/000/324/159/cfe.gif") no-repeat center;
}

#image500 {
    height: 560px;
    padding-top: 1px;
    background-color: black;
}

#image500 h2{
    margin: 180px 0 40px 0;
    font-weight: 300;
    color: white;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
}

#image500 h2 strong{
    font-size: 120px;
}


#text404 {
    height: 75px;
    background-color: black;
}

#text404 #error {
    text-transform: uppercase;
    color: blue;
    text-align: center;
    font-size: 30px;
}

#text404 #explain {
    color: red;
    text-align: center;
    font-size: 15px;
    margin-top: 0px;
}
